.topBar {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;

    &Item {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 21px;
        text-align: center;
        color: #ffccd8;

        b {
            font-weight: bold;
            color: #E8335D;
        }
    }

    .slick-prev, .slick-next {
        &:before {
            color: #545073;
        }
    }
    
    .slick-next {
        right: 10px;
    }
    
    .slick-prev {
        left: 10px;
    }
}