.miniCartWrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0);
    z-index: -1;
    transition: all 0.2s ease-in-out;

    &.open {
        display: block;
        background: rgb(0, 0, 0, 0.5);
        z-index: 9999;

        .miniCart {
            right: 0px;
        }
    }

    .miniCart {
        width: min(100vw, 400px);
        height: 100vh;
        background-color: #fff;
        position: fixed;
        right: max(-100vw, -400px);
        transition: all 0.2s ease-in-out;

        &Header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 22px;

            .miniCartTitle {
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 0.05em;
                color: #110d2f;
            }

            .miniCartCloseBtn {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &Body {
            width: inherit;
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
            }

            .miniCartItem {
                position: relative;
                box-sizing: border-box;
                display: flex;
                padding: 10px 0;
                margin: 10px 20px;
                border-bottom: solid 1px #F2F0F7;

                &.unavailable {
                    &::before {
                        content: "Produto indisponível";
                        font-size: 10px;
                        font-weight: bold;
                        text-align: center;
                        background-color: #0000005c;
                        letter-spacing: 0.05em;
                        color: #fff;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        text-align: center;
                        padding: 7px;
                    }
                }

                .miniCartItemImage {
                    width: 100px;

                    &Element {
                        width: 100%;
                    }
                }

                .miniCartItemInfo {
                    width: 100%;

                    .miniCartItemNameInfo {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .miniCartItemName {
                            font-size: 14px;
                            letter-spacing: 0.05em;
                            color: #110d2f;
                            padding-right: 20px;
                        }
                    }

                    .miniCartItemRemove {
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .miniCartItemSize {
                        font-size: 12px;
                        color: #110d2f;
                        margin-top: 5px;
                    }

                    .miniCartItemPriceInfo {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .miniCartItemQuantity {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 10px;
                            gap: 20px;
                            border: solid 1px #D9D8E6;
                            border-radius: 20px;
                            margin: 20px 0;
                            min-width: 110px;

                            &.__loading {
                                &:after {
                                    width: 10px;
                                    height: 10px;
                                }
                            }

                            .miniCartItemQuantityRemove,
                            .miniCartItemQuantityAdd {
                                transition: all 0.2s ease-in-out;

                                &:hover {
                                    cursor: pointer;

                                    svg {
                                        transform: scale(1.2);
                                    }
                                }
                            }

                            .miniCartItemQuantityRemove {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 10px 0;
                            }

                            .miniCartItemQuantityCurrent {
                                font-weight: bold;
                                font-size: 14px;
                                color: #110d2f;
                            }
                        }

                        .miniCartItemPrices {
                            display: flex;
                            align-items: flex-end;
                            flex-direction: column;
                            gap: 5px;

                            .miniCartItemPrice {
                                font-size: 12px;
                                letter-spacing: 0.05em;
                                color: #545073;
                            }

                            .miniCartItemSellingPrice {
                                font-weight: bold;
                                font-size: 14px;
                                letter-spacing: 0.05em;
                                color: #110d2f;
                            }
                        }
                    }
                }
            }
        }

        &BodyEmpty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;       
            transform: translateY(-50%);     
            gap: 20px;
            padding: 50px;
            text-align: center;

            .miniCartBodyEmptyTitle {
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 0.05em;
                color: #110d2f;
            }

            .miniCartBodyEmptyText {
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 0.05em;
                color: #110d2f;                  
            }

            .miniCartBuyBtn {
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 20px;
                background: #e8335d;
                font-weight: bold;
                font-size: 12px;
                letter-spacing: 0.09em;
                text-transform: uppercase;
                color: #fff7fa;
                margin: 10px 0;
                transition: all 0.2s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background: #cf1c46;
                }
            }
        }

        &Footer {
            width: inherit;
            padding: 16px 22px;
            position: fixed;
            bottom: 0;
            border-top: solid 1px #F2F0F7;

            .miniCartPrice {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .miniCartPriceSubtotal {
                    font-size: 14px;
                    letter-spacing: 0.05em;
                    color: #110d2f;

                    &Value {
                        font-weight: bold;
                        font-size: 14px;
                        letter-spacing: 0.05em;
                        color: #110d2f;
                    }
                }
            }

            .miniCartBuyBtn {
                display: block;
                text-align: center;
                text-decoration: none;
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 20px;
                background: #e8335d;
                font-weight: bold;
                font-size: 12px;
                letter-spacing: 0.09em;
                text-transform: uppercase;
                color: #fff7fa;
                margin: 10px 0;
                transition: all 0.2s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background: #cf1c46;
                }
            }
        }
    }
}